* {
    margin: 0;
    padding: 0;

    line-height: 1.5;
    font-family: 'Courier New', sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-color: #d1d5db;

    display: flex;
    flex-direction: column;
}

#content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header {
    background-color: #1f2937;
    color: #f9fafb;

    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.4);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;

    font-size: 2em;
    font-weight: bold;
}

header > img {
    filter: invert(100%) sepia(1%) saturate(2091%) hue-rotate(171deg) brightness(98%) contrast(100%);
    width: 30px;
    padding: 5px;

    user-select: none;
}

header > img:hover, 
nav div > ul > button:hover,
#add-project:hover,
#add-task:hover,
.task-config img:hover {
    background-color: #8282823a;

    border-radius: 5px;

    cursor: pointer;
}

main {
    display: flex;
    flex: 1;
}

nav {
    padding: 15px;
    box-shadow: 3px 0px 4px 0px rgba(0,0,0,0.4);

    width: 325px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    box-sizing: border-box;
}

.nav-header {
    font-size: 1.4em;
    font-weight: bold;

    color: #030712;

    margin-bottom: 10px;
}

nav div > ul {
    list-style-type: none;

    display: flex;
    flex-direction: column;
    gap: 5px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

nav div > ul > button,
#add-project,
#add-task {
    padding: 10px;
    color: #111827;
}

nav div > ul > button {
    display: flex;
    align-items: end;
    gap: 7px;

    margin-left: -5px;

    font-size: 1.1em;

    background: none;
    border: none;
}

nav div > ul > button img {
    width: 30px;

    filter: invert(7%) sepia(11%) saturate(3479%) hue-rotate(183deg) brightness(92%) contrast(93%);
}

#add-project,
#add-task {
    background: none;
    color: #374151;

    border: none;

    text-decoration: underline;
    font-size: 0.9em;
}

#add-task {
    align-self: start;
    margin-top: -5px;
}

#overview {
    display: flex;
    flex-direction: column;
    flex: 1;

    padding: 30px;
}

#overview .project-name {
    font-size: 2em;
    font-weight: bold;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    margin-bottom: 10px;
}

#tasks {
    list-style-type: none;
}

#tasks li {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    border: 1px solid #111827;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    background: none;
}

#tasks li:hover {
    background-color: #9ca3af31;

    cursor: pointer;
}

.task {
    display: flex;
    gap: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task-check {
    box-sizing: border-box;
    min-width: 25px;

    border-radius: 5px;
    border-width: 1px;
    border-color: #111827;

    background-color: #f9fafb;
}

.task-check:hover {
    background-color: rgba(255, 255, 255, 0.575);
}

.task-config {
    display: flex;
    gap: 8px;
    align-self: center;
}

.task-config img {
    width: 25px;

    filter: invert(21%) sepia(33%) saturate(423%) hue-rotate(177deg) brightness(95%) contrast(86%);
}

dialog {
    width: 400px;
    height: 500px;

    margin: auto auto;
}

dialog::backdrop {
    background: #000000;
    opacity: .4;
}

.dialog-heading {
    display: grid;
    grid-template-columns: 4fr 0fr;
    align-items: center;

    padding: 7px;
    margin-top: 5px;
}

.dialog-heading > p {
    justify-self: center;

    font-size: 1.7em;
}

.close-dialog {
    align-self: start;

    width: 35px;

    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

form > ul {
    list-style-type: none;
    padding: 20px;
    margin-top: -8px;
}

form > ul > li {
    display: flex;
    justify-content: flex-start;
    overflow: auto;
    font-size: 1.2em;
    margin-bottom: 20px;
}

input {
    padding: 5px;
    width: 100%;
    font-size: .8em;
}

input[type="date"] {
    width: 80%;
}

label {
    text-align: left;
    margin-right: 10px;
    width: 75px;
}

textarea {
    resize: none;
    padding: 10px;
}

.submit-task,
.submit-project,
.confirm-details {
    padding: 10px;
    margin-top: 10px;

    width: 100%;

    background-color: #374151;
    color: #FFF;

    font-weight: bold;
    font-size: 1.6em;

    cursor: pointer;
}

.submit-project {
    margin-top: 275px;
}

.confirm-details {
    margin-top: 29%;
}

.parent-project-name {
    color: #6b7280;

    font-size: .855em;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    align-self: center;
    margin-left: -3px;
}


@media (max-width: 930px) {
    main {
        flex-direction: column;
    }
    nav {
        width: auto;
    }
    dialog {
        width: calc(100% - 50px);
    }
}

/* tailwind gray color scheme https://tailwindcss.com/docs/customizing-colors*/